
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak]{
    display: none !important;
}

[x-question]{
    opacity: 0;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 20px;
}